@font-face {
    font-family: '116 Angduk Honesty';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/116AngdukHonesty/116AngdukHonesty.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/116AngdukHonesty/116AngdukHonesty.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/116AngdukHonesty/116AngdukHonesty.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/116AngdukHonesty/116AngdukHonesty.ttf') format('truetype');
}
